/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
}

.img {
    width: 100%;
    height: 100%;
}

p {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;

    background-color: #000000;
}

.cont {
    padding: 0 6% 0 6%;
    margin: 5% 0 5% 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}


/* ======================================= */

/* Fonts
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Audiowide', cursive;
======================================= */

/* ===============================Mobile============================ */

/* Header */
header {
    background: url("../img/principal.webp") no-repeat;
    background-size: cover;

    width: 100%;
    height: 223px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

.cont_head {
    padding: 0 6% 0 6%;
    margin: 5% 0 5% 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

header a {
    margin-top: 10%;

    width: 217px;
    height: 58px;
}

header h1 {
    margin-top: 10%;
    font-size: 1.5rem;
    color: #2B5B9C;
}

header h2 {
    font-size: 1.3rem;
    color: #fff;
}

/* Icons */

.icons {
    width: 48%;
    padding-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.icons:first-child {
    margin-right: 2%;

}

.img_circ {
    width: 60px;
    height: 60px;

    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;

    background-color: #547EB7;
}

.img_circ2 {
    background-color: #E3387D;
}

.icons img {
    padding-top: 6%;

    width: 50px;
    height: 45px;

}

.icons_text {
    max-width: 49%;
    margin-left: 5%;
}

ul {
    margin: 5% 0 5% 0;
    list-style-type: disc;
    width: 80%;
    color: #fff;
}

/* Promocao */

#promocao {
    margin-top: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#fig_poligon {
    width: 70%;
    position: relative;
}



#icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#oferta {
    position: absolute;
    margin-top: -28%;
}

#oferta .number {
    text-align: justify;
    padding-bottom: 20%;
}

#oferta p {
    font-size: 1.5rem;
}

#poligon {
    width: 46%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#poligon p {
    text-align: center;
}

#poligon p {
    font-size: 1rem;
    color: #547EB7;
}

/* Contador */
.contagem{
    width:300px;
    height:70px;
    background-color: #000;
    }
    
    .numero
    {
    min-width: 20px;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 0.1rem;
    font-family: 'Audiowide', cursive;
    }
    
    .legenda{
    height: 25px;
    line-height: 0.5;
    font-size:12px;
    background-color: #000;
    text-align: center;
    font-family: 'Audiowide', cursive;
    }

    .corpo_tr td {
        max-width: 60%;
    }
/* ======================================= */

/* Fotos */

#fotos_web {
    display: none;
}

.fotos_texto {
    display: none;
}

.carousel-item h3 {
    font-size: 1rem;
    text-align: center;
} 

.carousel_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fotos {
    margin: 10% 0 0 0;
}

.carousel-indicators {
    bottom: -26px;
}

/* Button */
.btn-pink {
    background-color: #E3387D;
    color: white;
    margin-bottom: 30%;
    font-size: 2rem;
}

.btn-gradient {
    background: linear-gradient(90deg, #E3387D 31.47%, #2B5B9C 75.38%);
    color: white;
    margin-bottom: 30%;
    font-size: 2rem;
    border-radius: 20px;
}

.btn-success {
    font-size: 2rem;
}

.info_btn {
    cursor: unset;
}

.info_btn i {
    color: white;
    padding-right: 10px;
}

/* Contatos */

#contato {
    margin: 15% 0 40% 0;
    padding: 0 6% 0 6%;
}

#depoimentos {
    position: absolute;
    margin-top: 10%;
}

#contato_item, #contato_item2, #contato_item3 {
    text-align: center;
    background-color: #000000;
}

#contato_item h3  {
    color: #2B5B9C;
}
#contato_item p  {
    color: #2B5B9C;
}

#contato_item2 h3 {
    color: #E3387D;
}
#contato_item2 p  {
    color: #E3387D;
}

#contato_item3 h3  {
    color: #2B5B9C;
}
#contato_item3 p  {
    color: #2B5B9C;
}


#dep_select, #dep_select2, #dep_select3 {
    background-color: blue;
}


.img_perfil {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

/* Sobre */
#sobre {
    background-color: #FFF;
    margin: 0 6% 0 6%;
}

#sobre h3 {
    color: #2B5B9C;
}

#sobre p {
    color: #000;
}

/* ==========================Media=================================*/
@media (min-width: 600px) {
    #fig_poligon {
        display: none;
    }

    #oferta {
        display: none;
    }

    #poligon {
        width: 100%;
    }

    .btn-gradient {
        margin-bottom: 10%;
    }
}



@media (min-width: 1100px) {
    /* Reset */
    * {
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 1.2rem;
    }
    
    /* Header */
    
    header {
        transform: matrix(-1, 0, 0, 1, 0, 0);
        height: 340px;
    }

    
    .cont_head {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    header h1 {
        margin-top: 10%;
        font-size: 1.7rem;
        color: #2B5B9C;
    }
    
    header h2 {
        font-size: 1.5rem;
        color: #fff;
    }

    /* Principal */
    .cont {
        flex-direction: row;
        margin: 0;
    }

    #promocao {
        margin-top: 5%;
    }

    #texto_vendas {
        margin-right: 5%;
    }

    #icons {
        flex-direction: column;
        flex-wrap: wrap;

        align-content: center;
    }

    #poligon {
        width: 46%;
        text-align: center;
        align-items: initial;
    }

    #poligon p {
        font-size: 1.5rem;
        margin-bottom: 5%;
        text-align: center;
    }

    #fig_poligon {
        width: 70%;
        display: block;
        position: relative;
        margin-bottom: 10%;
    }

    .cont_pol {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #oferta {
        display: flex;
        flex-direction: column;
        margin-top: -1%;
        z-index: 1;
        position: absolute;
        margin-left: -3%;
    }

    #oferta .number {
        text-align: justify;
        padding-bottom: 20%;
    }

    #oferta p {
        font-size: 3rem;
    }

    /* Produtos */

    #produtos {
        margin-top: 5%;
    }

    /* Contador */

    #cont_contag {
        flex-direction: column;
    }

    /* Fotos */
    #fotos {
        display: none;
    }

    #fotos_web {
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    #fotos_texto {
        display: flex;
        margin-bottom: 15%;
    }

    .img_web:first-child {
        margin-right: 1%;
    }

    .img_web:last-child {
        margin-left: 1%;
    }

    #separador {
        width: 6%;
        height: 10%;
        z-index: 1;
        background-color: #000;
        position: absolute;
        text-align: center;
        border-radius: 50%;
    }

    #separador p {
        text-align: center;
        margin-top: 9%;
        font-size: 3rem;
        color: #E3387D;
    }

    .btn_foto {
        display: flex;
        justify-content: center;


        width: 45%;
    }

    /* botao */
    .btn-foto {
        font-size: 1.5rem;
    }

    .btn-pink {
        margin: 0;
    }

    .info_btn {
        width: 40%;
        margin-bottom: 2%;
        font-size: 2rem;
    }

    .btn-success {
        margin-bottom: 3%;
    }


    /* Contatos */
    #contato {
        width: 100%;
        margin: 15% 0 15% 0;
    }

    #depoimentos {
        margin: 0;
    }

    .img_perfil {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    
    /* sobre */
    #sobre {
        flex-direction: column;
    }
}
