/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
}

.img {
    width: 100%;
    height: 100%;
}

p {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;

    background-color: #000000;
}

.cont {
    padding: 0 6% 0 6%;
    margin: 5% 0 5% 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======================================= */

/* Fonts
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Audiowide', cursive;
======================================= */

/* ===============================Mobile============================ */

/* Header */
header {
    background: url("../img/principal.jpg") no-repeat;
    background-size: cover;

    width: 100%;
    height: 223px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

.cont_head {
    padding: 0 6% 0 6%;
    margin: 5% 0 5% 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

header a {
    margin-top: 10%;

    width: 217px;
    height: 58px;
}

header h1 {
    margin-top: 10%;
    font-size: 1.5rem;
    color: #2B5B9C;
}

header h2 {
    font-size: 1.3rem;
    color: #fff;
}

/* Icons */
#icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icons {
    width: 48%;
    padding-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.icons:first-child {
    margin-right: 2%;

}

.img_circ {
    width: 60px;
    height: 60px;

    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;

    background-color: #547EB7;
}

.img_circ2 {
    background-color: #E3387D;
}

.icons img {
    padding-top: 6%;

    width: 50px;
    height: 45px;

}

.icons_text {
    max-width: 49%;
    margin-left: 5%;
}

ul {
    margin: 5% 0 5% 0;
    list-style-type: disc;
    width: 80%;
    color: #fff;
}

/* Promocao */

#promocao {
    margin-top: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#img_poligon {
    background: url("../img/poligon.png") no-repeat;
    background-size: contain;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    position: relative;
    left: -5%;
}

#img_poligon .number {
    text-align: justify;
    margin-top: 13%;
}

#img_poligon p {
    text-align: justify;
}

#poligon p {
    font-size: 1.2rem;
    color: #547EB7;
}

/* Contador */
.contagem{
    width:300px;
    height:70px;
    background-color: #000;
    }
    
    .numero
    {
    min-width: 20px;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 0.1rem;
    font-family: 'Audiowide', cursive;
    }
    
    .legenda{
    height: 25px;
    line-height: 0.5;
    font-size:12px;
    background-color: #000;
    text-align: center;
    font-family: 'Audiowide', cursive;
    }

    .corpo_tr td {
        max-width: 60%;
    }
/* ======================================= */

/* Fotos */

.carousel-item h3 {
    font-size: 1rem;
    text-align: center;
} 

.carousel_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fotos {
    margin: 10% 0 0 0;
}

.carousel-indicators {
    bottom: -26px;
}

/* Button */
.btn-pink {
    background-color: #E3387D;
    color: white;
    margin-bottom: 30%;
    font-size: 2rem;
}

.btn-success {
    font-size: 2rem;
}

.info_btn {
    cursor: unset;
}

.info_btn i {
    color: white;
    padding-right: 10px;
}

/* Contatos */

#contato {
    margin: 15% 0 40% 0;
    padding: 0 6% 0 6%;
}

#depoimentos {
    position: absolute;
    margin-top: 10%;
}

#contato_item, #contato_item2, #contato_item3 {
    text-align: center;
    background-color: #fff;
}

#contato_item h3  {
    color: #2B5B9C;
}
#contato_item p  {
    color: #2B5B9C;
}

#contato_item2 h3 {
    color: #E3387D;
}
#contato_item2 p  {
    color: #E3387D;
}

#contato_item3 h3  {
    color: #2B5B9C;
}
#contato_item3 p  {
    color: #2B5B9C;
}


#dep_select, #dep_select2, #dep_select3 {
    background-color: blue;
}


.img_perfil {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

/* Sobre */
#sobre {
    background-color: white;
    margin: 0 6% 0 6%;
}

#sobre h3 {
    color: #2B5B9C;
}

#sobre p {
    color: #000;
}



